.main {
    width: 400px;
    margin: 20px auto;
}

.main-login {
    background-color: #e8edec;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-login h2 {
    color: #455f40;
    margin-top: 0;
}

.main-login input {
    display: block;
    background-color: white;
    height: 20px;
    width: 250px;
    margin: 5px 0 10px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    transition: 0.2s;
}

.main-login input:focus {
    background-color: #eef5ed;
    box-shadow: 0px 0px 0px 2px #455f40;
}

.main-login .login-link {
    display: block;
    color: white;
    background-color: #455f40;
    text-decoration: none;
    text-align: center;
    width: 262px;
    margin: 10px 0;
    padding: 5px 0;
    border: 1px solid black;
    border-radius: 5px;
    transition: 0.2s;
}

.main-login .login-link:hover {
    background-color: #317423;
}

.main-login .login-senha {
    text-decoration: none;
}

.main-login .login-senha:hover {
    text-decoration: underline;
}

.main-novo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.main-novo > div {
    background-color: gray;
    height: 1px;
    width: 140px;
}

.novo-link {
    display: block;
    text-align: center;
    width: 400px;
    text-decoration: none;
    color: black;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
