@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ecf0f1;
}

#cart-quantity {
    position: absolute;
    top: 4px;
    right: 56rem;
    background-color: #28a745;
    color: white;
    border-radius: 50%;
    padding: 3px 6px;
    font-size: 12px;
}

.cart-message {
    background-color: #28a745;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

.header-container {
    background-color: #455f40;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.logo img {
    height: 50px;
}

.search-container {
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 20px;
}

.search-container input {
    width: 100%;
    max-width: 400px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.search-container button {
    padding: 8px;
    border: 1px solid #ccc;
    border-left: none;
    background-color: #455f40;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-link {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;
    padding-bottom: 3px;
    border-bottom: 2px solid transparent;
}

.nav-link:hover {
    transition: border-bottom 0.5s ease;
    border-bottom: 2px solid #fff;
}

.nav-link i {
    margin-right: 5px;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-menu i {
    font-size: 24px;
}

/* Responsividade dispositivos moveis */
@media (max-width: 768px) {

    .header-container {
        background-color: #455f40;
        padding: 10px 20px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        position: fixed;
        width: 92%;
        top: 0;
        z-index: 1;
    }

    .header-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .search-container {
        margin: 10px 0;
        justify-content: flex-start;
    }

    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        background-color: #455f40;
        width: 100%;
        padding: 20px;
        z-index: 1;
        display: none;
    }

    .nav-link {
        margin: 10px 0;
    }

    .hamburger-menu {
        display: block;
        color: #fff;
    }

    .nav-links.active {
        display: flex;
    }
}

/* Responsividade para tablets */
@media (min-width: 769px) and (max-width: 1024px) {
    .header-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .search-container {
        margin: 0 10px;
    }

    .nav-links {
        flex-direction: row;
        position: static;
        background-color: transparent;
        width: auto;
        padding: 0;
        display: flex;
    }

    .nav-link {
        margin: 0 10px;
    }

    .hamburger-menu {
        display: none;
    }
}

.nav-link.active {
    border-bottom: 2px solid #fff; /* Ou qualquer outro estilo que você preferir */
}